.header {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  font-weight: 200;
  @media (max-width: 700px) {
    height: 70px;
  }
  &__name, &__menu {
    display: inline-block;
    line-height: 100px;
    @media (max-width: 700px) {
      line-height: 70px;
    }
  }
  &__name {
    margin-left: 70px;
    height: 100%;
    text-transform: uppercase;
    font-size: 35px;
    @media (max-width: 700px) {
      margin-left: 40px;
      font-size: 30px;
    }
    @media (max-width: 450px) {
      margin-left: 20px;
      font-size: 20px;
    }
  }
  &__menu {
    position: absolute;
    right: 100px;
    height: 100px;
    @media (max-width: 600px) {
      right: 50px;
    }
    @media (max-width: 450px) {
      right: 20px;
    }
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      margin-left: 30px;
      font-size: 18px;
      list-style-type: none;
      @media (max-width: 450px) {
        margin-left: 15px;
        font-size: 15px;
      }
    }
    .amount {
      display: inline-table;
      width: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 10px;
      background-color: rgb(200, 200, 200);
    }
  }
}